body{
    
        background-image: url("../img/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        font-family: "Arial", Helvetica, sans-serif;
        
}

.divborder{
    
        color: white;
        border-style: solid;
        margin: auto;
        padding: 10px;
        max-width: 505px;
        text-align: center;
}

form{
    color: black;
}

#sub{
    color: white;
}

#msg{
    color: white;
}

#bodydiv{
	text-align: left;
}

h1{
    text-align: center;
}

section {
    color: white;
    text-align: center;
}

footer{
    color: white;
    text-align: center;
}

h6{
    color: white;
}

#input{
    color: black;
}