body{
        background-image: url("../img/backgrnd.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        font-family: "Arial", Helvetica, sans-serif;
        
}

.divborder{
    
        color: white;
        border-style: solid;
        margin: auto;
        padding: 10px;
        max-width: 505px;
        text-align: center;
}

#section {
    color: white;
    text-align: center;
}

h6{
    color: white;
}

footer{
    color: white;
    text-align: center;
}

form{
    color: green;
}